@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  height: 100%; /* Garante que o background ocupe toda a altura da página */
  margin: 0;
  padding: 0;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  background-size: cover; /* Faz com que o background cubra toda a página */
  background-position: center center; /* Centraliza o background */
  background-repeat: no-repeat; /* Impede a repetição do background */
  background-attachment: fixed; /* Mantém o background fixo ao rolar a página */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input,
textarea {
  padding-left: 0.5rem;
}

/* Estilos globais para inputs */
.form-label {
  @apply block text-sm font-medium text-gray-700;
}

.form-input {
  width: 100%;
  border-radius: 0.375rem; /* Equivalente ao rounded-md */
  border: 1px solid #d1d5db; /* Equivalente ao border-gray-300 */
  padding: 0.375rem 0.5rem; /* Equivalente ao py-2 px-3 */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); /* shadow-sm */
  font-size: 0.875rem; /* sm:text-sm */
  line-height: 1.25rem; /* sm:leading-6 */
  color: #1f2937; /* text-gray-900 */
}

.form-input:focus {
  border-color: #6366f1; /* Equivalente ao focus:border-indigo-500 */
  outline: none;
  box-shadow: 0 0 0 2px rgba(99, 102, 241, 0.5); /* Equivalente ao focus:ring-indigo-500 */
}

/* Estilos globais para select */
.form-select {
  width: 100%;
  border-radius: 0.375rem; /* Equivalente ao rounded-md */
  border: 1px solid #d1d5db; /* Equivalente ao border-gray-300 */
  padding: 0.375rem 0.5rem; /* Equivalente ao py-2 px-3 */
  font-size: 0.875rem; /* sm:text-sm */
  line-height: 1.25rem; /* sm:leading-6 */
  color: #1f2937; /* text-gray-900 */
  background-color: #fff;
}

.form-select:focus {
  border-color: #6366f1; /* Equivalente ao focus:border-indigo-500 */
  outline: none;
  box-shadow: 0 0 0 2px rgba(99, 102, 241, 0.5); /* Equivalente ao focus:ring-indigo-500 */
}

/* Estilos globais para textarea */
.form-textarea {
  width: 100%;
  border-radius: 0.375rem; /* Equivalente ao rounded-md */
  border: 1px solid #d1d5db; /* Equivalente ao border-gray-300 */
  padding: 0.5rem; /* Equivalente ao py-4 px-3 */
  font-size: 0.875rem; /* sm:text-sm */
  line-height: 1.25rem; /* sm:leading-6 */
  color: #1f2937; /* text-gray-900 */
}

.form-textarea:focus {
  border-color: #6366f1; /* Equivalente ao focus:border-indigo-500 */
  outline: none;
  box-shadow: 0 0 0 2px rgba(99, 102, 241, 0.5); /* Equivalente ao focus:ring-indigo-500 */
}

/* Estilos globais para botões */
.form-button {
  width: 100%;
  justify-content: center;
  border-radius: 0.375rem; /* Equivalente ao rounded-md */
  padding: 0.5rem 0.75rem; /* Equivalente ao px-3 py-2 */
  font-size: 0.875rem; /* text-sm */
  font-weight: 600; /* font-semibold */
  color: white;
  background-color: #4f46e5; /* bg-indigo-600 */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); /* shadow-sm */
  transition: background-color 0.2s ease-in-out;
}

.form-button:hover {
  background-color: #4338ca; /* hover:bg-indigo-500 */
}

.form-button-gray {
  background-color: #6b7280; /* bg-gray-600 */
  color: white;
}

.form-button-gray:hover {
  background-color: #4b5563; /* hover:bg-gray-500 */
}

.form-button-primary {
  @apply flex w-full justify-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600;
}

.form-button-secondary {
  @apply flex w-full justify-center rounded-md bg-gray-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-gray-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-600;
}

/* Estilos para formulário em grid */
.form-grid {
  display: grid;
  gap: 1.5rem; /* gap-6 */
}

@media (min-width: 640px) {
  .form-grid-2-cols {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Estilos globais para tabelas */
.table {
  width: 100%;
  background-color: #ffffff; /* bg-white */
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 0.5rem 1rem; /* py-2 px-4 */
  border: 1px solid #e5e7eb; /* border-gray-200 */
  text-align: left;
}

.table th {
  background-color: #f3f4f6; /* bg-gray-50 */
  font-weight: 600;
  color: #374151; /* text-gray-700 */
}

.table tr:hover {
  background-color: #f9fafb; /* hover:bg-gray-100 */
}

.table-actions button {
  background-color: #fbbf24; /* bg-yellow-500 */
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 0.375rem; /* rounded */
  transition: background-color 0.2s ease-in-out;
}

.table-actions button:hover {
  background-color: #f59e0b; /* hover:bg-yellow-400 */
}
